<ion-content>
    <ion-segment [(ngModel)]="setupStep" color="primary">
        <ion-segment-button value="1">Players</ion-segment-button>
        <ion-segment-button value="2" [disabled]="!isStep1Valid()">Details</ion-segment-button>    
        <ion-segment-button value="3" [disabled]="!isStep2Valid()">Cards</ion-segment-button>
        <ion-segment-button value="4" [disabled]="!isStep3Valid()">Review</ion-segment-button>
    </ion-segment>

    <!-- List of validations -->
    <ion-card>
        <ion-list>
            <!-- Step 1 Validations -->
            <ion-item *ngIf="setupStep == 1 || setupStep == 4" class="validation">
                <ion-icon name="checkmark-circle" color="{{isPlayerCountValid() ? 'valid' : 'invalid'}}" item-left></ion-icon>
                3+ players selected
            </ion-item>
            <!-- All players have name -->
            <ion-item *ngIf="setupStep == 1 || setupStep == 4" class="validation">
                <ion-icon name="checkmark-circle" color="{{arePlayerNamesValid() ? 'valid' : 'invalid'}}" item-left></ion-icon>
                All players given a name
            </ion-item>    

            <!-- Step 2 Validation -->
            <ion-item *ngIf="setupStep == 2 || setupStep == 4" class="validation">
                <ion-icon name="checkmark-circle" color="valid" item-left></ion-icon>
                You're playing as {{getDetective() ? getDetective().suspect.friendlyName : ''}}
            </ion-item>
            <ion-item *ngIf="setupStep == 2 || setupStep == 4" class="validation">
                <ion-icon name="checkmark-circle" color="valid" item-left></ion-icon>
                Order: {{getPlayerOrderDisplay()}}
            </ion-item>  
            <ion-item *ngIf="shouldShowExtraCardValidation()" class="validation">
                <ion-icon name="checkmark-circle" color="{{areExtraCardsIdentified() ? 'valid' : 'invalid'}}" item-left></ion-icon>
                Players holding extra cards ({{getPlayersWithExtraCard()}}/{{getNumberOfExtraCards()}})
            </ion-item>   
            
            <!-- Step 3 Validations -->
            <ion-item *ngIf="setupStep == 3 || setupStep == 4" class="validation">
                <ion-icon name="checkmark-circle" color="{{allDetectivesCardsSelected() ? 'valid' : 'invalid'}}" item-left></ion-icon>
                Your cards selected ({{getSelectedCards().length}}/{{getNumberOfCardsForPlayer(getDetective())}})
            </ion-item> 
        </ion-list>

        <button ion-button *ngIf="setupStep == 4 && isStep1Valid() && isStep2Valid() && isStep3Valid()" full (click)="startGame()">Start Game</button>
    </ion-card>

    
    <ion-card *ngIf="setupStep != 4">
        <!-- Step 1 & 2 - Players, Names, Extra Cards, Order -->
        <ion-list [reorder]="setupStep == 2" radio-group [(ngModel)]="detective" (ionItemReorder)="reorderItems($event)" *ngIf="setupStep != 3" no-lines>
            <ion-item *ngFor="let player of getPlayersToDisplayBasedOnSetupStep(setupStep)">
                <img item-left src="{{player.suspect.icon}}" class="game-card-icon" />

                <!-- Step 1: Players -->
                <ion-input type="text" [(ngModel)]="player.name" name="playerName" [placeholder]="player.suspect.friendlyName" [disabled]="!player.isPlaying" *ngIf="setupStep == 1"></ion-input>
                <ion-toggle item-right [(ngModel)]="player.isPlaying" *ngIf="setupStep == 1"></ion-toggle>

                <!-- Step 2: Detective, Extra Cards, Order -->
                <ion-label *ngIf="setupStep == 2">{{player.name}}</ion-label>
                <ion-radio item-right [value]="player" [checked]="player == detective" [disabled]="!player.isPlaying" *ngIf="setupStep == 2"></ion-radio>
                <ion-toggle item-right [(ngModel)]="player.extraCard" *ngIf="setupStep == 2 && getNumberOfExtraCards() !=0"></ion-toggle>
            </ion-item>
        </ion-list>

        <!-- Step 3: Detective Cards -->
        <ion-list *ngIf="setupStep == 3">
            <ion-item-group *ngFor="let cardsForCategory of allCardsByCategory">
                <ion-item-divider color="light">{{cardsForCategory.category}}</ion-item-divider>
                
                <ion-item *ngFor="let card of cardsForCategory.cards">
                    <img item-left src="{{card.icon}}" class="game-card-icon" />

                    <ion-label>{{card.friendlyName}}</ion-label>
                    <ion-checkbox [(ngModel)]="card.selected" item-right></ion-checkbox>
                </ion-item>
            </ion-item-group>
        </ion-list>
    </ion-card>
</ion-content>