setup-page {
    .item-inner, .item-input { border-bottom-color: transparent !important; box-shadow: none !important; }

    img.game-card-icon { width: 25px; height: 25px }

    .validation .item-inner { margin-left: 7px !important; }
}