<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selectedCategory">
    <ion-segment-button [value]="4">Players</ion-segment-button>
    <ion-segment-button [value]="CardCategory.SUSPECT">Suspects</ion-segment-button>
    <ion-segment-button [value]="CardCategory.WEAPON">Weapons</ion-segment-button>
    <ion-segment-button [value]="CardCategory.ROOM">Rooms</ion-segment-button>z
  </ion-segment>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list *ngIf="selectedCategory == 4">
        <ion-item ion-item *ngFor="let player of players">
            <ion-icon item-left><player-icon [player]="player"></player-icon></ion-icon>
            <ion-label>{{player.isDetective ? "You" : player.name}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedCategory != 4">
        <ion-item ion-item *ngFor="let card of getCardsForCategory(selectedCategory)">
            <ion-icon item-left><img src="{{card.icon}}" class="game-card-icon" /></ion-icon>
            {{card.friendlyName}}
        </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer style="text-align: center; padding: 5px 0;">
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <button ion-button block (click)="startNewGame()">Start New Game</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="secondary" (click)="restartGame()">Restart Game</button>
      </ion-col>
   </ion-row>
 </ion-grid>
</ion-footer>