<ion-card>
    <ion-card-header>
        <div class="progress-bar" [style.width]="(turn.resultingSheet.getProgress() * 100) + '%'"></div>
        <div class="header-text item row">
            <span align="left" class="col col-80">
                <player-icon [player]="turn.player"></player-icon>&nbsp;
                <span *ngIf="turn.number > 0">Turn #{{turn.number}}</span>
                <span *ngIf="turn.number == 0">Game Started</span>
            </span>
            <ion-icon name="create" align="right" class="col col-20" (click)="editTurn()" *ngIf="turn.number != 0"></ion-icon>
        </div>
    </ion-card-header>

    <ion-card-content>
        <p *ngIf="!turn.guess">
            <span *ngIf="turn.number > 0"><span class="display-value">{{getPlayerDisplay(turn.player)}}</span> passed.</span>
            <span *ngIf="turn.number == 0">Your {{turn.player.numberOfCards}} cards were filled out.</span>
        </p>
        <div *ngIf="turn.guess">
            <!-- Guess Sentence -->
            <p>
                <span class="display-value">{{getPlayerDisplay(turn.player)}}</span> guessed 
                <span class="display-value">{{getCardDisplay(CardCategory.SUSPECT, turn.guess.suspect)}}</span> in the 
                <span class="display-value">{{getCardDisplay(CardCategory.ROOM, turn.guess.room)}}</span> with the
                <span class="display-value">{{getCardDisplay(CardCategory.WEAPON, turn.guess.weapon)}}</span>.
                
                <span *ngIf="!turn.guess.playerThatShowed"><span class="display-value">No one</span> disproved it.</span>
                <span *ngIf="turn.guess.playerThatShowed">
                    <span *ngIf="!turn.player.isDetective">
                        <span class="display-value">{{getPlayerDisplay(turn.guess.playerThatShowed)}}</span> disproved it.
                    </span>
                    <span *ngIf="turn.player.isDetective">
                        <span class="display-value">{{getPlayerDisplay(turn.guess.playerThatShowed)}}</span> disproved it by showing you 
                        <span *ngIf="turn.guess.cardShown.category != CardCategory.SUSPECT">the </span>
                        <span class="display-value">{{getCardDisplay(turn.guess.cardShown.category, turn.guess.cardShown.cardIndex)}}</span>.
                    </span>
                </span>
            </p>
            
            <!-- Guess Tracking Section -->
            <div class="accordion" *ngIf="useGuessTracking && shouldShowTurnResolution()">
                <div class="accordion-header item row" (click)="turn.showGuess = !turn.showGuess" [ngClass]="{'active': turn.showGuess}">      
                    <span align="left" class="col col-80">
                        Guess Tracking
                        <span *ngIf="turn.guess.resolvedTurn == null" class="display-value open">(Open)</span>
                        <span *ngIf="turn.guess.resolvedTurn != null" class="display-value closed">(Closed)</span>
                    </span>
                    <span align="right" class="col col-20">
                        <ion-icon [name]="turn.showGuess ? 'arrow-dropup-circle' : 'arrow-dropdown-circle'" ></ion-icon>
                    </span>
                </div>
                
                <div class="guess-resolution accordion-content" [ngClass]="{'active': turn.showGuess}">
                    <p *ngIf="!turn.guess.resolvedTurn">
                        The guess disproved by <span class="display-value">{{getPlayerDisplay(turn.guess.playerThatShowed)}}</span> is still open.
                    </p>

                    <p *ngIf="turn.guess.resolvedTurn">
                        The guess disproved by <span class="display-value">{{getPlayerDisplay(turn.guess.playerThatShowed)}} </span>
                        <span *ngIf="turn.guess.resolvedTurn != turn.number">was closed in turn <span class="display-value">#{{turn.guess.resolvedTurn}}</span>.</span>
                        <span *ngIf="turn.guess.resolvedTurn == turn.number">was closed immediately.</span>
                    </p>

                    <ion-grid>
                        <ion-row>
                            <ion-col></ion-col>

                            <!-- Suspect -->
                            <ion-col class="sheet-cell-icon" col-auto (click)="showGuessMessage(turn.guess.playerThatShowed, turn.guess.suspectCard)">
                                <card-icon [card]="turn.guess.suspectCard" [disableAlert]="true"></card-icon>
                            </ion-col>
                            <ion-col class="sheet-cell-icon" col-auto (click)="showGuessMessage(turn.guess.playerThatShowed, turn.guess.suspectCard)">
                                <ion-badge [color]="getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.suspectCard).status == CellStatus.HAD ? 'valid' : 'invalid'"
                                           *ngIf="getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.suspectCard).status != CellStatus.UNKNOWN">
                                    {{getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.suspectCard).enteredTurn}}
                                </ion-badge>
                            </ion-col>

                            <ion-col></ion-col>

                            <!-- Weapon -->
                            <ion-col class="sheet-cell-icon" col-auto (click)="showGuessMessage(turn.guess.playerThatShowed, turn.guess.weaponCard)">
                                <card-icon [card]="turn.guess.weaponCard" [disableAlert]="true"></card-icon>
                            </ion-col>
                            <ion-col class="sheet-cell-icon" col-auto (click)="showGuessMessage(turn.guess.playerThatShowed, turn.guess.weaponCard)">
                                <ion-badge [color]="getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.weaponCard).status == CellStatus.HAD ? 'valid' : 'invalid'"
                                           *ngIf="getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.weaponCard).status != CellStatus.UNKNOWN">
                                    {{getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.weaponCard).enteredTurn}}
                                </ion-badge>
                            </ion-col>

                            <!-- Room -->
                            <ion-col></ion-col>

                            <ion-col class="sheet-cell-icon" col-auto (click)="showGuessMessage(turn.guess.playerThatShowed, turn.guess.roomCard)">
                                <card-icon [card]="turn.guess.roomCard" [disableAlert]="true"></card-icon>
                            </ion-col>
                            <ion-col class="sheet-cell-icon" col-auto (click)="showGuessMessage(turn.guess.playerThatShowed, turn.guess.roomCard)">
                                <ion-badge [color]="getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.roomCard).status == CellStatus.HAD ? 'valid' : 'invalid'"
                                           *ngIf="getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.roomCard).status != CellStatus.UNKNOWN">
                                    {{getPlayerAndCardData(turn.guess.playerThatShowed, turn.guess.roomCard).enteredTurn}}
                                </ion-badge>
                            </ion-col>

                            <ion-col></ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
       
        <!-- Lessons Section -->
        <div class="accordion lessons" *ngIf="useLessonsLearned && (turn.guess || getLessonsLearnedFromTurn().length)">   
            <div class="accordion-header item row" (click)="turn.showLessons = !turn.showLessons" [ngClass]="{'active': turn.showLessons}">      
                <span align="left" class="col col-80">
                    Lessons Learned 
                    <span class="display-value">({{getTotalNumberOfLessonsLearnedFromTurn()}})</span>
                </span>
                <span align="right" class="col col-20">
                    <ion-icon [name]="turn.showLessons ? 'arrow-dropup-circle' : 'arrow-dropdown-circle'" ></ion-icon>
                </span>
            </div>
    
            <div class="accordion-content lessons-learned" [ngClass]="{'active': turn.showLessons}">
                <div style=" padding: 5px 10px;">
                    <div *ngFor="let lessonLearned of getLessonsLearnedFromTurn()" class="lesson-learned">
                        <span [innerHTML]="lessonLearned.toFriendlyString()"></span>
                    </div>
                    <div class="lesson-learned" *ngIf="turn.lessonsLearned.resolvedTurns.length">
                        <span *ngIf="turn.lessonsLearned.resolvedTurns.length == 1">
                            The guess from turn <span class="display-value">#{{turn.lessonsLearned.resolvedTurns[0]}}</span> was closed.
                        </span>
                        <span *ngIf="turn.lessonsLearned.resolvedTurns.length > 1">
                            Guesses from turns <span [innerHTML]="getMultipleResolvedTurnDisplay(turn)"></span> were closed.
                        </span>
                    </div>
                    <div class="lesson-learned" *ngIf="turn.lessonsLearned.identifiedSuspect">
                        The suspect was identified as <span class="display-value">{{turn.lessonsLearned.verdict.suspect.friendlyName}}</span>
                    </div>
                    <div class="lesson-learned" *ngIf="turn.lessonsLearned.identifiedWeapon">
                        The weapon was identified as <span class="display-value">{{turn.lessonsLearned.verdict.weapon.friendlyName}}</span>
                    </div>
                    <div class="lesson-learned" *ngIf="turn.lessonsLearned.identifiedRoom">
                        The room was identified as <span class="display-value">{{turn.lessonsLearned.verdict.room.friendlyName}}</span>
                    </div>
                    <div *ngIf="noLessonsLearned()" class="lesson-learned">
                        Nothing was learned from this turn.
                    </div>
                </div>
            </div>
        </div>
    </ion-card-content>
</ion-card>