turn-component { 
    ion-icon {
        font-size: 1.5em !important;
    }

    .accordion-header {
        .open {
            color: #BB8410;
        } 

        .closed {
            color: color($colors, primary);
        } 
    }
}