<ion-content>
    <ion-list>
        <ion-item-group *ngFor="let cardsForCategory of getCardsGroupedByCategory()">
            <ion-item-divider color="dark">{{cardsForCategory.category}}</ion-item-divider>

            <button ion-item *ngFor="let card of cardsForCategory.cards" (click)="selectCard(card)">
                <ion-icon item-left><img src="{{card.icon}}" class="game-card-icon" /></ion-icon>
                {{card.friendlyName}}
                <ion-icon name="checkmark-circle" item-right *ngIf="card == selectedCard" color="primary"></ion-icon>
            </button>
        </ion-item-group>
    </ion-list>
</ion-content>