game-details-page {   
    .filter-header {
        font-weight: bold;
        color: #FFFFFF;
        min-height: 22px;
        text-align: center;
        border-bottom: 1px solid color($colors, medium);
    }

    .filter-group { 
        padding-bottom: 20px; 
    
        .item-block {
            padding-left: 0px !important;
        }

        ion-label {
            padding-left: 10px;
        }
    }

    ion-card-header { 
        padding: 0 !important; 
        font-size: 1.5rem; 

        .progress-bar {
            background-color: color($colors, primary);
            height: 5px;
        }    

        .header-text 
        {
            padding: 5px;
        }
    }

    ion-card-content { 
        padding: 0 !important;
        line-height: 1 !important;

        p { 
            padding: 6px !important; line-height: 1.5 !important;
        }

        .display-value
        {
            font-weight: bold;
            font-style: italic;
        }

        
        .accordion {
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 1.5 !important;

            .accordion-header {
                border-top: 1px solid color($colors, dark);
                border-bottom: 1px solid color($colors, dark);
                background-color: color($colors, medium);
                font-weight: bold;
                padding: 0 3px;
                padding-top: 4px;
                height: 40px;
            }

            .accordion-header.active {
                background-color: darken(color($colors, medium), 10%);
            }

            .lessons-learned {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.25s;
            }

            .lessons-learned.active {
                transition: max-height 0.25s;
                max-height: 500px;
            }

            .lesson-learned:before {
                content:"• ";
            }

            .guess-resolution
            {
                max-height: 0;
                transition: max-height 0.25s;
                overflow: hidden;

                .icon { font-size: 1.6em; }
                
                .sheet-cell-icon { 
                    border: 1px solid #000; 
                    background-color: color($colors, light);
                    min-width: 40px;
                    text-align: center; 

                    ion-badge {
                        margin-top: 3px
                    }
                }
            }

            .guess-resolution.active
            {
                transition: max-height 0.25s;
                max-height: 200px;
            }
        }
    }
}