<ion-header>
    <ion-toolbar>
        <ion-title>Game Replay</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showFilters = !showFilters">
                <ion-icon [name]="showFilters ? 'albums' : 'funnel'"></ion-icon>
            </button>           
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="showFilters" padding>
        <!-- Player -->
        <div class="filter-header">Players</div>
        <div class="filter-group">
            <ion-segment [(ngModel)]="filterOptions.filterPlayer" (ngModelChange)="filterOptionsChanged()">
                <ion-segment-button value="">Any</ion-segment-button>
                <ion-segment-button *ngFor="let player of gameTracker.players" [value]="player">
                    <player-icon [player]="player"></player-icon>
                </ion-segment-button>
            </ion-segment>
        </div>

        <!-- Genera Settings -->
        <div class="filter-header">Genreal Settings</div>
        <div class="filter-group">
            <!-- Passes -->
            <ion-item color="light">
                <ion-label>Show Passes</ion-label>
                <ion-toggle [(ngModel)]="filterOptions.showPasses" (ngModelChange)="filterOptionsChanged()"></ion-toggle>
            </ion-item>

            <!-- Turn Types -->
            <ion-item color="light">
                <ion-label>Only Show Open Guesses</ion-label>
                <ion-toggle [(ngModel)]="filterOptions.onlyShowOpenGuesses" (ngModelChange)="filterOptionsChanged()"></ion-toggle>
            </ion-item>
        </div>

        <!-- Advanced Settings -->
        <div class="filter-header">Advanced Settings</div>
        <div class="filter-group">
            <ion-item color="light">
                <ion-label>Use Lessons Learned</ion-label>
                <ion-toggle [(ngModel)]="useLessonsLearned"></ion-toggle>
            </ion-item>
            <ion-item color="light">
                <ion-label>Use Guess Tracking</ion-label>
                <ion-toggle [(ngModel)]="useGuessTracking"></ion-toggle>
            </ion-item>
        </div>
    </div>
    
    <!-- Turns Display -->
    <div *ngIf="!showFilters">
        <ion-card *ngIf="!turnsToDisplay.length">
            <ion-card-content>
                <p>No turns to display</p>
            </ion-card-content>
        </ion-card>
        
        <div *ngFor="let turn of turnsToDisplay">
            <turn-component [turn]="turn"
                            [useGuessTracking]="useGuessTracking"
                            [useLessonsLearned]="useLessonsLearned">
            </turn-component>
        </div>
    </div>
</ion-content>