<ion-item>   
    <ion-icon name="{{icon}}" *ngIf="!selectedCard" item-left (click)="showCardSelect()"></ion-icon>
    <ion-label *ngIf="!selectedCard" (click)="showCardSelect()">{{entryText}}</ion-label>
    
    <ion-icon *ngIf="selectedCard" item-left (click)="showCardSelect()"><img src="{{selectedCard.icon}}" class="game-card-icon" /></ion-icon> 
    <ion-label *ngIf="selectedCard" (click)="showCardSelect()">{{selectedCard.friendlyName}}</ion-label>
    
    <ion-toggle *ngIf="selectedCard && enableActivateEntry" 
                [(ngModel)]="isActive"
                (ngModelChange)="onActiveStatusChanged()" 
                [disabled]="!selectedCard" 
                item-right>
    </ion-toggle>
</ion-item>