<button ion-item (click)="showCardSelect()">   
    <ion-icon name="{{icon}}" *ngIf="!selectedCard" item-left></ion-icon>
    <ion-label *ngIf="!selectedCard">{{entryText}}</ion-label>
    
    <ion-icon *ngIf="selectedCard" item-left><img src="{{selectedCard.icon}}" class="game-card-icon" /></ion-icon> 
    <ion-label *ngIf="selectedCard">{{selectedCard.friendlyName}}</ion-label>
    
    <ion-toggle *ngIf="selectedCard && enableActivateEntry" 
                (tap)="toggleTapped($event)"
                [(ngModel)]="isActive"
                (ionChange)="onActiveStatusChanged()" 
                [disabled]="!selectedCard" 
                item-right>
    </ion-toggle>
</button>