<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let player of gameTracker.players" 
                         class="player-space" 
                         [ngClass]="{'active': player == activePlayer}">
                    <player-icon [player]="player"></player-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card no-padding>
        <ion-card-content>
            <p>Turn: #{{gameTracker.turns.length + 1}}</p>
            <p>Progress: {{getProgress() | percent:'2.1'}}</p>
        </ion-card-content>
    </ion-card>

    <guess-entry-component [enterShownCard]="activePlayer.isDetective" 
                           [activePlayer]="activePlayer" 
                           [players]="gameTracker.players"
                           (guessEntered)="guessEntered($event)"
                           #guessEntry>
    </guess-entry-component>
</ion-content>