game-sheet-page {
    .header
    {
        .sheet-cell-icon { height: 40px !important; padding-top: 10px; }
        .header-button { width: 50px; }
    }
    .header-group { background-color: color($colors, medium); padding: 5px; border-bottom: 2px solid #000000;}
    .turn-selector { height: 10px; }

    .group-padding { padding: 5px; }

    .game-sheet { padding: 0; }
    .game-row { padding: 0 0 5px 0; }

    .sheet-cell { height: 32px; border: 1px solid #000; background-color: #FFF; }
    .sheet-cell-header { height: 32px; border: 1px solid #000; background-color: #717070; text-align: center; font-weight: bold; }
    .sheet-cell-icon { height: 32px; border: 1px solid #000; color: gray; background-color: #717070; width: 40px; text-align: center; }
    
    .avatar { font-size: 1.4em; }
    .game-card-icon { height: 24px !important; width: 24px !important; }

    .card-had { background-color: color($colors, primary); }
    .card-not-had { background-color: color($colors, medium); }
    .card-unknown { background-color: #FFF; }

    .sheet-legend { color: #000; font-weight: bold; padding-top: 8px; }

    .verdict-row
    {
        .sheet-cell-icon { background-color: color($colors, light); }
        .verdict-header { background-color: #717070; color: #000; font-weight: bold; }
        .icon { font-size: 1.6em; }
    }

    //Check Mark for Guessed cells
   .guess-tick {
        width: 20px;    
        height: 20px;
        color: #fff;
        position: relative;
    }

    .guess-tick:after {
        content: '';
        border: 5px solid;
        border-color: color($colors, warning) color($colors, warning) rgba(0,0,255,0) rgba(255,0,0,0);
        position: absolute;
        top: 0;
        right: 0;
        margin: -5px -25px;
    }
}