<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col class="sheet-cell-icon card-had sheet-legend">Card Had</ion-col>
                <ion-col class="sheet-cell-icon card-not-had sheet-legend">Not Had</ion-col>
                <ion-col class="sheet-cell-icon sheet-legend header-button" col-auto (click)="toggleVerdict()">
                    <ion-icon ios="ios-folder-open" md="ios-folder-open" *ngIf="showVerdict"></ion-icon>
                    <ion-icon ios="ios-folder" md="ios-folder" *ngIf="!showVerdict"></ion-icon>
                </ion-col>
                <ion-col class="sheet-cell-icon sheet-legend header-button" col-auto (click)="toggleTurnSlide()">
                    <span [color]="getTurnColor()">#{{displayedTurnNumber}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
        
        <div class="header-group" *ngIf="showTurnSlide">
            <ion-item class="turn-selector">
                <ion-range min="0" [max]="gameTracker.turns.length-1" step="1" [(ngModel)]="displayedTurnNumber" 
                           (ngModelChange)="onDisplayedTurnChange()"></ion-range>
            </ion-item>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="group-padding">
        <div *ngIf="showVerdict" style="padding-bottom: 5px;">
            <ion-grid class="game-sheet verdict-row">
                <ion-row>
                    <ion-col class="sheet-cell-icon verdict-header">Suspect</ion-col>
                    <ion-col class="sheet-cell-icon verdict-header">Weapon</ion-col>
                    <ion-col class="sheet-cell-icon verdict-header">Room</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="sheet-cell-icon">
                        <card-icon [card]="displayedTurn.lessonsLearned.verdict.suspect" *ngIf="displayedTurn.lessonsLearned.verdict.suspect" ></card-icon>
                    </ion-col>
                    <ion-col class="sheet-cell-icon">
                        <card-icon [card]="displayedTurn.lessonsLearned.verdict.weapon" *ngIf="displayedTurn.lessonsLearned.verdict.weapon" ></card-icon>
                    </ion-col>
                    <ion-col class="sheet-cell-icon">
                        <card-icon [card]="displayedTurn.lessonsLearned.verdict.room" *ngIf="displayedTurn.lessonsLearned.verdict.room" ></card-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <ion-grid class="game-sheet">
            <!-- Suspects -->
            <div class="game-row">
                <ion-row><ion-col class="sheet-cell-header">Suspects</ion-col></ion-row>
                <ion-row>
                    <ion-col class="sheet-cell-icon" col-auto></ion-col>
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell-icon avatar">
                        <player-icon [player]="player" [message]="getPlayerMessage(player)"></player-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let suspect of suspectCards">
                    <ion-col class="sheet-cell-icon" col-auto>
                        <card-icon [card]="suspect" [message]="getCardMessage(suspect)"></card-icon>
                    </ion-col>
            
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell  no-padding" [ngClass]="getCellClass(player, suspect)">
                        <div class="guess-tick" *ngIf="cardIsBeingTracked(player, suspect)"></div>
                    </ion-col>
                </ion-row>
            </div>

            <!-- Weapons -->
            <div class="game-row">
                <ion-row><ion-col class="sheet-cell-header">Weapons</ion-col></ion-row>
                <ion-row>
                    <ion-col class="sheet-cell-icon" col-auto></ion-col>
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell-icon avatar">
                        <player-icon [player]="player" [message]="getPlayerMessage(player)"></player-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let weapon of weaponCards">
                    <ion-col class="sheet-cell-icon" col-auto>
                        <card-icon [card]="weapon" [message]="getCardMessage(weapon)"></card-icon>
                    </ion-col>
            
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell no-padding" [ngClass]="getCellClass(player, weapon)">
                        <div class="guess-tick" *ngIf="cardIsBeingTracked(player, weapon)"></div>
                    </ion-col>
                </ion-row>
            </div>

            <!-- Rooms -->
            <div>
                <ion-row><ion-col class="sheet-cell-header">Rooms</ion-col></ion-row>
                <ion-row>
                    <ion-col class="sheet-cell-icon" col-auto></ion-col>
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell-icon avatar">
                        <player-icon [player]="player" [message]="getPlayerMessage(player)"></player-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let room of roomCards">
                    <ion-col class="sheet-cell-icon" col-auto>
                        <card-icon [card]="room" [message]="getCardMessage(room)"></card-icon>
                    </ion-col>
            
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell no-padding" [ngClass]="getCellClass(player, room)">
                        <div class="guess-tick" *ngIf="cardIsBeingTracked(player, room)"></div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>