game-sheet-page {
    .game-sheet { padding: 0; }

    .sheet-cell { height: 35px; border: 1px solid #000; background-color: #FFF; }
    .sheet-cell-header { height: 35px; border: 1px solid #000; background-color: #717070; text-align: center; font-weight: bold; }
    .sheet-cell-icon { height: 35px; border: 1px solid #000; color: gray; background-color: #717070; width: 40px; text-align: center; }
    .avatar { font-size: 1.6em; }

    .card-had { background-color: color($colors, primary); }
    .card-not-had { background-color: color($colors, medium); }
    .card-unknown { background-color: #FFF; }

    .sheet-legend { color: #000; font-weight: bold; padding-top: 8px; }

    .verdict-row
    {
        .sheet-cell-icon { background-color: color($colors, light); }
        .verdict-header { background-color: #717070; color: #000; font-weight: bold; }
        .icon { font-size: 1.6em; }
    }
}