<ion-header>
    <ion-toolbar>
        <ion-title>Game Sheet</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showFilters = !showFilters">
                <ion-icon [name]="showFilters ? 'clipboard' : 'funnel'"></ion-icon>
            </button>           
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding *ngIf="showFilters">
        <!-- Legend -->
        <div class="filter-header">Legend</div>
        <div class="filter-group">
            <ion-item class="sheet-cell-icon card-unknown sheet-legend">
                Unknown if player has this card
            </ion-item>
            <ion-item class="sheet-cell-icon card-had sheet-legend">
                Player definitely <b>has</b> this card
            </ion-item>
            <ion-item class="sheet-cell-icon card-not-had sheet-legend">
                Player definitely <b>does not have</b> this card
            </ion-item>
            <ion-item class="sheet-cell-icon card-unknown sheet-legend">
                <span class="guess-block guess-color-1">2</span>
                Turn player <b>may have</b> shown this card
            </ion-item>
        </div>

        <!-- General Settings -->
        <div class="filter-header">Genreal Settings</div>
        <div class="filter-group">
            <ion-item color="light">
                <ion-label>Show Verdict</ion-label>
                <ion-toggle [(ngModel)]="showVerdict"></ion-toggle>
            </ion-item>

            <ion-item color="light">
                <ion-label>Show Turn Slider</ion-label>
                <ion-toggle [(ngModel)]="showTurnSlide" (ngModelChange)="onShownTurnSlideChange()"></ion-toggle>
            </ion-item>
        </div>
    </div>

    <div class="group-padding" *ngIf="!showFilters">
        <div>
            <div *ngIf="showVerdict" style="padding-bottom: 5px;">
                <ion-grid class="game-sheet verdict-row">
                    <ion-row>
                        <ion-col class="sheet-cell-icon verdict-header">Suspect</ion-col>
                        <ion-col class="sheet-cell-icon verdict-header">Weapon</ion-col>
                        <ion-col class="sheet-cell-icon verdict-header">Room</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="sheet-cell-icon">
                            <card-icon [card]="displayedTurn.lessonsLearned.verdict.suspect" *ngIf="displayedTurn.lessonsLearned.verdict.suspect != null" ></card-icon>
                        </ion-col>
                        <ion-col class="sheet-cell-icon">
                            <card-icon [card]="displayedTurn.lessonsLearned.verdict.weapon" *ngIf="displayedTurn.lessonsLearned.verdict.weapon != null" ></card-icon>
                        </ion-col>
                        <ion-col class="sheet-cell-icon">
                            <card-icon [card]="displayedTurn.lessonsLearned.verdict.room" *ngIf="displayedTurn.lessonsLearned.verdict.room != null" ></card-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            
            <div *ngIf="showTurnSlide" style="padding-bottom: 5px; border: 1px solid black;">
                <ion-item>
                    <ion-range min="0" [max]="gameTracker.turns.length-1" step="1" [(ngModel)]="displayedTurnNumber" 
                            (ngModelChange)="onDisplayedTurnChange()" style="padding: 2px;">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>{{displayedTurnNumber}}</ion-label>           
                    </ion-range>
                </ion-item>
            </div>
        </div>

        <ion-grid class="game-sheet">
            <!-- Suspects -->
            <div class="game-row">
                <ion-row><ion-col class="sheet-cell-header">Suspects</ion-col></ion-row>
                <ion-row>
                    <ion-col class="sheet-cell-icon" col-auto></ion-col>
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell-icon avatar" 
                             [ngClass]="{'active': isNextPlayer(player)}">
                        <player-icon [player]="player" [message]="getPlayerMessage(player)"></player-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let suspect of suspectCards">
                    <ion-col class="sheet-cell-icon" col-auto>
                        <card-icon [card]="suspect" [message]="getCardMessage(suspect)"></card-icon>
                    </ion-col>
            
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell  no-padding" [ngClass]="getCellClass(player, suspect)">
                        <div class="guess-block-wrapper">
                            <span *ngFor="let guessDisplayDetail of getUnresolvedGuessDisplayDetails(player, suspect)" class="guess-block" [ngClass]="getColorClassForIndex(guessDisplayDetail.index)">
                                {{guessDisplayDetail.turnNumber}}
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
            </div>

            <!-- Weapons -->
            <div class="game-row">
                <ion-row><ion-col class="sheet-cell-header">Weapons</ion-col></ion-row>
                <ion-row>
                    <ion-col class="sheet-cell-icon" col-auto></ion-col>
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell-icon avatar"
                             [ngClass]="{'active': isNextPlayer(player)}">
                        <player-icon [player]="player" [message]="getPlayerMessage(player)"></player-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let weapon of weaponCards">
                    <ion-col class="sheet-cell-icon" col-auto>
                        <card-icon [card]="weapon" [message]="getCardMessage(weapon)"></card-icon>
                    </ion-col>
            
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell no-padding" [ngClass]="getCellClass(player, weapon)">
                            <div class="guess-block-wrapper">
                                <span *ngFor="let guessDisplayDetail of getUnresolvedGuessDisplayDetails(player, weapon)" class="guess-block" [ngClass]="getColorClassForIndex(guessDisplayDetail.index)">
                                    {{guessDisplayDetail.turnNumber}}
                                </span>
                            </div>
                    </ion-col>
                </ion-row>
            </div>

            <!-- Rooms -->
            <div>
                <ion-row><ion-col class="sheet-cell-header">Rooms</ion-col></ion-row>
                <ion-row>
                    <ion-col class="sheet-cell-icon" col-auto></ion-col>
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell-icon avatar"
                             [ngClass]="{'active': isNextPlayer(player)}">
                        <player-icon [player]="player" [message]="getPlayerMessage(player)"></player-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let room of roomCards">
                    <ion-col class="sheet-cell-icon" col-auto>
                        <card-icon [card]="room" [message]="getCardMessage(room)"></card-icon>
                    </ion-col>
            
                    <ion-col *ngFor="let player of gameTracker.players" class="sheet-cell no-padding" [ngClass]="getCellClass(player, room)">
                        <div class="guess-block-wrapper">
                            <span *ngFor="let guessDisplayDetail of getUnresolvedGuessDisplayDetails(player, room)" class="guess-block" [ngClass]="getColorClassForIndex(guessDisplayDetail.index)">
                                {{guessDisplayDetail.turnNumber}}
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>